extends ../layouts/default

block content
	.container#contact
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-10.col-sm-offset-2.col-md-offset-1
				h1 Contact Us
				p.small Thanks for stopping by. Whether you want to have more information about our <br> services, place and order or just say hi, this is where to start.
				.icon-row
					a(href="#"): i.fa.fa-phone
					a(href="#"): i.fa.fa-linkedin
					a(href="#"): i.fa.fa-facebook
					a(href="#"): i.fa.fa-twitter
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.col-md-6
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label Name
							input(type='text', name='name.full', value=formData['name.full']).form-control
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label Email
							input(type='email', name='email', value=formData.email).form-control
						.form-group
							label Phone
							input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.col-md-6
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', placeholder='Leave us a message...' rows=16).form-control= formData.message
						.form-actions
							button(type='submit').btn.btn-primary.form-control Send Message Now
				section.spacer
