extends ../layouts/default

block content
	div.account
		div.jumbotron: .container
			//- Register
			section.spacer
			div.panel
				if user
					div(style="text-align: center;")
						h1 Hey #{user.name.first}!
							.small You're already logged in.
						p Not #{user.name.first}? &nbsp;
							a(href="/sign-out") Sign out.
				else
					h1 Create An Account
						.small Register to begin recieving service.
					form(method="post")#account
						input(type='hidden', name='action', value='register')
						-var ranString = Math.random().toString(36).substring(36);
						input(type='hidden', name='userID', value=Math.random().toString(36).substring(7))
						.form-group.clearfix
							.col-md-6
								label(for="f_name") First Name
								input(name="f_name", class="left form-control", placeholder="Jane", value=form.f_name)
							.col-md-6
								label(for="l_name") Last Name
								input(name="l_name", class="right form-control", placeholder="Doe", value=form.l_name)
						.form-group.clearfix
							.col-md-12
								label(for="email") Email Address
								input(name="email", class="form-control", placeholder="janedoe@cru.org", value=form.email)
						.form-group.clearfix
							.col-md-6
								label(for="password") Password
								input(name="password", class="left form-control", placeholder="••••••", type="password")
							.col-md-6
								label(for="confirm_pass") Confirm Password
								input(name="confirm_pass", class="right form-control", placeholder="••••••", type="password")
						.form-group.clearfix
							.col-md-12
								label(for='CRUstaffAccount') CRU Staff Account or Ministry Chartfield
								input(type='text', class='form-control', name='CRUstaffAccount', value=form.CRUstaffAccount ? form.CRUstaffAccount : null)
						hr
						h3 Mailing Address
						.form-group.clearfix: .col-md-12
							label Street Address
							input(name='address[street1]', placeholder='5234 Ferrari Drive', class='form-control')
						.form-group.clearfix
							.col-md-5(style='padding-left: 0; padding-right: 15px;')
								label City
								input(name='address[suburb]', class='form-control')
							.col-md-2(style='padding: 0;')
								label State
								input(name='address[state]', placeholder='CO', class='form-control')
							.col-md-5(style='padding-right: 0;')
								label Post Code
								input(name='address[postcode]', placeholder='80918', class='form-control')
						.form-group.clearfix: .col-md-12
							label Country
							input(name='address[country]', class='form-control')
						hr
						h3 Return Address
							div.small (Leave blank if you wish to use the PLS Return Address)
						.form-group.clearfix: .col-md-12
							label Street Address
							input(name='returnAddress[street1]', placeholder='5234 Ferrari Drive', class='form-control')
						.form-group.clearfix
							.col-md-5(style='padding-left: 0; padding-right: 15px;')
								label City
								input(name='returnAddress[suburb]', class='form-control')
							.col-md-2(style='padding: 0;')
								label State
								input(name='returnAddress[state]', placeholder='CO', class='form-control')
							.col-md-5(style='padding-right: 0;')
								label Post Code
								input(name='returnAddress[postcode]', placeholder='80918', class='form-control')
						.form-group.clearfix: .col-md-12
							label Country
							input(name='returnAddress[country]', class='form-control')
						.form-group.clearfix
							.col-md-12
								label To use the PLS return address, include the following line on my envelopes:
								p(style='margin-top: 7px;') Your ministry update from: 
								input(type='text', name='ministryUpdateFrom', class='form-control')
						.form-group.clearfix
							.col-md-12
								label.clearfix Invoice Preferences
								div
									input(type='checkbox' id='invoicePreference' name='emailInvoice' value='true' checked=form.emailInvoice ? 'checked' : false)
									|&nbsp; Email my invoice to me.
								div
									input(type='checkbox' id='invoicePreference' name='mailInvoice' value='true' checked=form.mailInvoice ? 'checked' : false)
									|&nbsp; Mail my invoice to me.
						.form-group.clearfix
							.col-md-12
								label Mailing List
								div
									input(type='checkbox' id='mailingList', name='emailReminders' value='true', checked=form.emailReminders ? 'checked' : false)
									|&nbsp; Periodically email me reminders.
						.form-group.clearfix
							.col-md-12
								label To maintain my database I would like to:
								select(type='text', name='databaseMaintenance', class='form-control')
									option Send us an updated copy of my mailing list with each order.
									option Maintain my mailing list online through the PLS website.
									option Ask the Prayer Letter Service to maintain my mailing list for me in Access on their computer.
						hr
						.form-group.clearfix
							.col-md-12
								br
								|If someone referred, you, please list them below to credit them $50 on their next letter.
								input(type='text', name='referral', class='form-control')
						.form-group.clearfix
							.col-md-12
								br
								input(type='checkbox', value='confirmFee')
								|&nbsp; I understand that I will be charged a one-time $15 set-up fee.
						.form-group.clearfix#formFooter
							.col-md-12
								button(type="submit", style="width: 100%").btn.btn-primary Register
						#socialConnect
							a(href="/auth/facebook"): div.facebook
								span Connect With Facebook
								span: i.fa.fa-facebook
							a(href="/authz/linkedin"): div.linkedIn
								span Connect With LinkedIn
								span: i.fa.fa-linkedin
			section.spacer
		if !user
			div.banner
				p Already have a PLS account? &nbsp;
					a(href="/sign-in") Sign in.