mixin flash-messages(messages)
	if messages
		#flash-messages.container
			each message in messages.info
				+flash-message(message, 'info')
			each message in messages.success
				+flash-message(message, 'success')
			each message in messages.warning
				+flash-message(message, 'warning')
			each message in messages.error
				+flash-message(message, 'danger')
				
mixin flash-message(message, type)
	div(class='alert alert-' + type)
		if utils.isObject(message)
			if message.title
				h4= message.title
			if message.detail
				p= message.detail
			if message.list
				ul
					each item in message.list
						li= item
		else
			= message

mixin orderTabs
	.jumbotron#order: .container
		h1 Let's Get Your Order <br> To The Presses!
		p.small Use the form below to submit your order and we'll get to work.
	div.tab-container: .container
		//- li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
		ul.tabs.order#tabs
			each tab in orderTabs
				//- #success if Complete
				li(class=(tabID == tab.key ? 'active tab' : 'tab')): a(href=tab.href)
					span.fa-stack
						i.fa.fa-stack-2x.fa-circle-o
						//- i.fa.fa-stack-1x.fa-check
					| &nbsp;
					span= tab.label

mixin fileUploads
	script(type='text/javascript').
		$(function(){var SITE=SITE||{};SITE.fileInputs=function(){var $this=$(this),$val=$this.val(),valArray=$val.split('\\'),newVal=valArray[valArray.length-1],$button=$this.siblings('.button'),$fakeFile=$this.siblings('.file-holder');if(newVal!==''){$button.text('File Chosen');if($fakeFile.length===0){$button.after('<span class="file-holder">'+newVal+'</span>');}else{$fakeFile.text(newVal);}}};$('.file-wrapper input[type=file]').bind('change focus click',SITE.fileInputs);});
