extends ../../layouts/default

block content
	div.myAccount
		section.spacer
		div.jumbotron: .container
			div.panel
				form(method="post")#myAccount
					input(type='hidden', name='action', value='confirm.details')
					h1.lead MPDX Would Like Permission to Access Your Account
				form(action="#{redirectURI}/?code=#{code}&?state=#{state}")
					input(type='text', value='#{redirectURI}/?code=#{code}&?state=#{state}')
					button(type='submit') Allow
					//- p= redirectURI
					//- p= code
					+flash-messages(messages)
					
		section.spacer