extends ../../layouts/default

block content
	div.myAccount
		section.spacer
		div.jumbotron: .container
			div.panel
				form(method="post")#myAccount
					input(type='hidden', name='action', value='confirm.details')
					h1.lead MPDX Would Like Permission to Access Your Account
				form(method="post")#myAccount
					//- input(type='text', value='#{redirectURI}/?code=#{code}&?state=#{state}')
					label Redirect URI
					input(name="redirectURI", value="#{redirectURI}", type="hidden")
					input(name="state", value="#{state}", type="hidden")
					input(name="MPDX Code", value="#{code}", type="hidden")
					button(type='submit') Allow
					//- p= redirectURI
					//- p= code
					+flash-messages(messages)
					
		section.spacer