extends ../../layouts/default

block content
	div.myAccount
		section.spacer
		div.jumbotron: .container
			div.panel
				form(method="post")#myAccount
					input(type='hidden', name='action', value='confirm.details')
					h1.lead MPDX Would Like to Access Your Account
						br
						small This will allow you to manage your contact lists with MPDX.
				form(method="post")#myAccount
					//- input(type='text', value='#{redirectURI}/?code=#{code}&?state=#{state}')
					input(name="redirectURI", value="#{redirectURI}", type="hidden")
					input(name="state", value="#{state}", type="hidden")
					input(name="MPDX Code", value="#{code}", type="hidden")
					.col-md-4.col-md-push-4
						button(type='submit', class='btn btn-lg btn-success') Allow
					//- p= redirectURI
					//- p= code
					+flash-messages(messages)
					
		section.spacer