extends ../../layouts/default

block content
	div.myAccount
		div.jumbotron: .container
			//- Register
			section.spacer
			div.panel
				h1 My Account
					.small Edit your account information below
				form.formMyAccount.col-md-8(method="post", autocomplete="off")#myAccount
					input(type='hidden', name='action', value='save')
					.col-md-5
						.form-group.clearfix
							.col-md-6
								label(for="name.first") First Name
								input(name="name.first", class="left form-control", placeholder="Jane", value=user.name.first)
							.col-md-6
								label(for="name.last") Last Name
								input(name="name.last", class="right form-control", placeholder="Doe", value=user.name.last)
						.form-group.clearfix
							.col-md-12
								label(for="email") Email Address
								input(name="email", class="form-control", placeholder="janedoe@cru.org", value=user.email)
						.form-group.clearfix
							.col-md-6
								label(for="password") New Password
								input(name="password", class="left form-control", placeholder="••••••", type="password", autocomplete='off')
							.col-md-6
								label(for="password_confirm") Confirm Password
								input(name="password_confirm", class="right form-control", placeholder="••••••", type="password", autocomplete='off')
					.col-md-5
						.form-group.clearfix
							.col-md-12
								label(for="address.street1") Address
								input(name="address.street1", class="form-control", placeholder="5234 Ferrari Drive", value=user.address.street1)
						.form-group.clearfix#address
							.col-md-12
								label(for="address.street2") Address Line Two
								input(name="address.street2", class="form-control", placeholder="Apt. 123", value=user.address.street2)
						.form-group.clearfix
							.col-md-6
								label(for="address.suburb") City
								input(name="address.suburb", class="left form-control", placeholder="Colorado Springs", value=user.address.suburb)
							.col-md-6
								label(for="address.postcode") Zip
								input(name="address.postcode", class="right form-control", placeholder="80918", value=user.address.postcode)
					div.clearfix
					.col-md-2.col-md-push-4
						button(type="submit").btn.btn-lg.btn-success SAVE
			section.spacer
block js
	script.
		$('document').ready(function() {
			var address		= document.getElementById('address'),
				addOneTogg 	= document.getElementById('addressLineOneToggle'),
				addTwoTogg 	= document.getElementById('addressLineTwoToggle');
			function toggle(label) {
				$(label).siblings('label').addClass('faded');
				$(label).toggleClass('faded');
			}
			$([addOneTogg,addTwoTogg]).click(function() {
				$this = $(this);
				toggle($this);
				$('.addressOne, .addressTwo').toggleClass('hide');
			});
		});