extends ../../layouts/alt

block content
	div.contact-list-home: div.jumbotron: .container
		div.title(style='position: relative;')
			span.icon.home
			h2 Mailing Lists
				p= err
			h4(style='position: absolute; right: 0; top: 0;')
				a(href='/my-account') Edit My Account
		div.col-md-12.line
		div.col-md-12
			ul
				if lists.length >= 1
					for list in lists
						li.box
							.col-md-12
								img(src='../images/list-name.png')
								h2= list.prettyName
								a.btn.btn-sm.btn-gray(href='/mailing-lists/' + list.slug) VIEW LIST
								if !user.services.MPDX.isConfigured
									a.btn.btn-sm.btn-green(href='/mailing-lists/' + list.slug + '?contact=add') ADD CONTACT

					if !user.services.MPDX.isConfigured
						li.box(data-toggle='modal', data-target='#newList')
							.col-md-12
								img(src='../images/circle-plus-big.png')
								h2.title ADD NEW LIST
				else
					div.col-md-4
						li.box(data-toggle='modal', data-target='#newList')
							.col-md-12
								img(src='../images/circle-plus-big.png')
								h2.title ADD NEW LIST
		//- Modal for Creating new Mailing List
		.modal.fade(tab-index='-1', role='dialog', aria-labelledby='newList', aria-hidden='true', id='newList')
			.modal-dialog.modal-sm: .modal-content: form(method="post", action='/mailing-lists', id='listForm', enctype='multipart/form-data')
				.modal-body
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true") &#215;
						span.sr-only Close
					h3 Create New Mailing List
					//- if !lists.length >= 1
					div.alert.alert-danger
						small Please make sure your headers match those listed <a href="#", data-toggle='modal', data-target='#normalize'>here</a> before uploading your list. Please also make sure your file is uploaded with the first line as the headers.
					if errors
						.form-group
							.alert.alert-danger
								| Please complete all fields before continuing.
					.form-group(class=(errors != null ? 'has-error' : null)).clearfix
						input(type='hidden', name='userID', value=user.id)
						//- input(type='hidden', name='csvJSON')
						input(type='hidden', name='name', value=user.name.full)
					.form-group(class=(errors != null ? 'has-error' : null)).clearfix
						label(for='listName') Name Your Mailing List*
						input(name='listName', type='text', class='form-control')
					.form-group.clearfix
						input(name='xlsFile', type='file', class='form-control', id='csv')
					small *Please make sure your mailing list is a .CSV file. Most applications allow you to export your list as a CSV. Click <a href="#" data-toggle="modal" data-target="#instructions">here</a> for information on how to do this.
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel
					button.btn.btn-primary(type="submit") Create List

		//- Modal for Instructions
		.modal.fade(id='instructions')
			.modal-dialog
				.modal-content
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true") &#215;
						span.sr-only Close
					.modal-body
						h3 Converting #{fileType} to CSV.
						ol
							li Open your excel file.
							li Click on File and Save as.
							li Select where you would like to save the file (like your desktop or a drive).
							img(src='images/image001.jpg', class='img-responsive')
							li In the File Name area, name your document.
							li In the Save as Type area, select CSV(Comma Delimited) from the pull down menu.
							img(src='images/image002.jpg', class='img-responsive')
							li Click Save.
							li You may receive one or two warnings about the formatting of .CSV, click yes.
					.modal-footer
						button.btn.btn-default(type="button", data-dismiss="modal") Thanks!

				//- Modal for Instructions
		.modal.fade(id='normalize')
			.modal-dialog
				.modal-content
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true") &#215;
						span.sr-only Close
					.modal-body
						h3 Required Headers
						table(class='table table-bordered')
							tr
								th EXAMPLE HEADER
								th EXAMPLE DATA
							tr
								th First Name
								td: span.text-muted John
							tr
								th Last Name
								td: span.text-muted Doe
							tr
								th Spouse First Name
								td: span.text-muted Jane
							tr
								th Greeting
								td: span.text-muted Mr.
							tr
								th Envelope Line
								td: span.text-muted John and Jane Doe
							tr
								th Address 1
								td: span.text-muted 2760 E Dartmouth Drive
							tr
								th Address 2
								td: span.text-muted Apt 107
							tr
								th Address 3
								td: p.text-muted 
							tr
								th City
								td: span.text-muted College Park
							tr
								th State
								td: span.text-muted CO
							tr
								th Zip
								td: span.text-muted 90210
							tr
								th Country
								td: span.text-muted United States
					.modal-footer
						button.btn.btn-default(type="button", data-dismiss="modal") Thanks!


block js
	if errors
		script.
			$('#newList').modal();
	script.
		$('button[type="submit"]').click(function() {
			$(this).html('<i class="fa fa-spinner fa-spin"></i>');
		});