extends ../../layouts/alt

block content
	div.contact-list: div.jumbotron: .container
		div.title
			div.nav.navbar-nav.navbar-left.col-md-8
				span.icon.home
				h2
					a(href='../mailing-lists/') Contact Lists | &nbsp;
					span= list.prettyName
			div.nav.navbar-nav.navbar-right.col-md-4
				a(data-toggle="modal",data-target="#newContact").btn.btn-md.btn-success ADD CONTACT
				p
					span#count=contacts.length
					| &nbsp;
					span Contacts
			div.clearfix
		div.col-md-12.line
		div.col-md-12
			table.table.table-bordered.table-striped.table-responsive#table-contact-list
				thead
					tr
						th Edit
						th(id='lastName'): a(href='/mailing-lists/' + list.slug + '?sortBy=lastName&from=' + query, class=sortBy == 'lastName' ? 'active' : null, data-ajax="true") LAST NAME
						th(id='ENV_LINE'): a(href='/mailing-lists/' + list.slug + '?sortBy=envelopeLine&from=' + query, class=sortBy == 'envelopeLine' ? 'active' : null, data-ajax="true") ENVELOPE LINE
						th(id='addressOne'): a(href='/mailing-lists/' + list.slug + '?sortBy=addressOne&from=' + query, class=sortBy == 'addressOne' ? 'active' : null, data-ajax="true") ADDRESS 1
						th(id='addressTwo'): a(href='/mailing-lists/' + list.slug + '?sortBy=addressTwo&from=' + query, class=sortBy == 'addressTwo' ? 'active' : null, data-ajax="true") ADDRESS 2
						th(id='addressThree'): a(href='/mailing-lists/' + list.slug + '?sortBy=addressThree&from=' + query, class=sortBy == 'addressThree' ? 'active' : null, data-ajax="true") ADDRESS 3
						th(id='city'): a(href='/mailing-lists/' + list.slug + '?sortBy=city&from=' + query, class=sortBy == 'city' ? 'active' : null, data-ajax="true") CITY
						th(id='state'): a(href='/mailing-lists/' + list.slug + '?sortBy=state&from=' + query, class=sortBy == 'state' ? 'active' : null, data-ajax="true") STATE
						th(id='zip'): a(href='/mailing-lists/' + list.slug + '?sortBy=postCode&from=' + query, class=sortBy == 'zip' ? 'active' : null, data-ajax="true") ZIP
				tbody
					if contacts
						for contact in contacts
							tr
								td: a(data-toggle="modal", data-target='#' + contact._id): img(src='../images/edit-icon.png')
								td= contact.lastName
								td= contact.envelopeLine
								td= contact.addressOne
								td= contact.addressTwo
								td= contact.addressThree
								td= contact.city
								td= contact.state
								td= contact.postCode
					else
						tr
							td No contacts found for this list.
		div.modal.fade(id='newContact',tabindex='-1',role='dialog',aria-hidden="true")
			div.modal-dialog.modal-ms
				div.modal-content
					div.modal-body: div.panel
						h1 New Contact
						form(method='post')#account
							input(type='hidden', name='action', value='newContact')
							input(type='hidden', name='mailingListID', value=list._id)
							.form-group.clearfix
								.col-md-6(style="padding-right: 0px;")
									label(for="firstName") FIRST NAME
									input(name="firstName", id="firstName" class="left form-control", placeholder="Jonathan")
								.col-md-6(style="padding-left: 0px;")
									label(for="lastName") LAST NAME
									input(name="lastName", id="lastName" class="right form-control", placeholder="Bell")
							.form-group.clearfix
								.col-md-12
									label(for="ENV_LINE") ENVELOPE LINE 
									input(name="ENV_LINE", id="ENV_LINE" class="form-control", placeholder="Jonathan Bell")
							.form-group.clearfix
								.col-md-12
									label(for="addressOne") ADDRESS 1
									input(name="addressOne", id="addressOne", class="form-control", placeholder="5234 Ferrari Drive")
							.form-group.clearfix
								.col-md-12
									label(for="addressTwo") ADDRESS 2
									input(name="addressTwo", id="addressTwo", class="form-control", placeholder="Apt, Building Number, etc.")
							.form-group.clearfix
								.col-md-12
									label(for="addressThree") ADDRESS 3
									input(name="addressThree", id="addressThree" class="form-control", placeholder="")
							.form-group.clearfix
								.col-md-6(style="padding-right: 0px;")
									label(for="city") CITY
									input(name="city", id="city", class="left form-control", placeholder="")
								.col-md-6(style="padding-left: 0px;")
									label(for="postCode") ZIP
									input(name="postCode", id="postCode", class="right form-control", placeholder="")
							.form-group.clearfix
								.col-md-12
									label(for="state") STATE
									input(name="state", id="state", class="form-control", placeholder="")
							.form-group.clearfix#formFooter
								.col-md-12
									button(type="submit", id="updateContact").btn.btn-success.center SAVE
		for contact in contacts
			div.modal.fade(id=contact._id,tabindex='-1',role='dialog',aria-hidden="true")
				div.modal-dialog.modal-ms
					div.modal-content
						div.modal-body: div.panel
							h1(style='margin-top: 0;') Edit Existing Contact
							form(method='post')#account
								input(type='hidden', name='action', value='updateContact')
								input(type='hidden', name='contactID', action='contactID', value=contact._id)
								.form-group.clearfix
									.col-md-6(style="padding-right: 0px;")
										label(for="firstName") FIRST NAME
										input(name="firstName", id="firstName" class="left form-control", placeholder="Jonathan", data-value=contact.firstName, value=contact.firstName)
									.col-md-6(style="padding-left: 0px;")
										label(for="lastName") LAST NAME
										input(name="lastName", id="lastName" class="right form-control", placeholder="Bell", value=contact.lastName)
								.form-group.clearfix
									.col-md-12
										label(for="ENV_LINE") ENV_LINE 
										input(name="ENV_LINE", id="ENV_LINE" class="form-control", placeholder="Jonathan Bell", value=contact.ENV_LINE)
								.form-group.clearfix
									.col-md-12
										label(for="addressOne") ADDRESS 1
										input(name="addressOne", id="addressOne", class="form-control", placeholder="5234 Ferrari Drive", value=contact.addressOne)
								.form-group.clearfix
									.col-md-12
										label(for="addressTwo") ADDRESS 2
										input(name="addressTwo", id="addressTwo", class="form-control", placeholder="Apt, Building Number, etc.", value=contact.addressTwo)
								.form-group.clearfix
									.col-md-12
										label(for="addressThree") ADDRESS 3
										input(name="addressThree", id="addressThree" class="form-control", placeholder="", value=contact.addressThree)
								.form-group.clearfix
									.col-md-6(style="padding-right: 0px;")
										label(for="city") CITY
										input(name="city", id="city", class="left form-control", placeholder="", value=contact.city)
									.col-md-6(style="padding-left: 0px;")
										label(for="postCode") ZIP
										input(name="postCode", id="postCode", class="right form-control", placeholder="", value=contact.postCode)
								.form-group.clearfix
									.col-md-12
										label(for="state") STATE
										input(name="state", id="state", class="form-control", placeholder="", value=contact.state)
								.form-group.clearfix#formFooter
									.col-md-6
										span.fa-stack.fa-lg.checkbox2(data-input='deleteContact', data-type='checkbox')
											i.fa.fa-square.fa-stack-2x
											i.fa.fa-check.fa-stack-1x.fa-inverse
										input(type='checkbox', value='true', id='deleteContact', name='deleteContact', class='hide')
										label(for='deleteContact') Delete Contact
									.col-md-6
										button(type="submit", id="updateContact", class='btn btn-success pull-right') SAVE
block js
	if locals.addContact
		script.
			$('#newContact').modal();