extends ../../layouts/default

block content
	.jumbotron#order: .container
		h1 Let's Get Your Order <br> To The Presses!
		p.small Use the form below to submit your order and we'll get to work.
	div.tab-container: .container
		ul.tabs.order#tabs
			li.tab(href="#letterDetails", data-toggle="tab")#success: a(href="#")
				span.fa-stack
					i.fa.fa-stack-2x.fa-circle-o
					i.fa.fa-stack-1x.fa-check
				| &nbsp;
				span Letter Details
			li.tab(href="#mailingList", data-toggle="tab"): a(href="#")
				span.fa-stack
					i.fa.fa-stack-2x.fa-circle-o
					//- i.fa.fa-stack-1x.fa-check
				| &nbsp;
				span Mailing List
			li.tab(href="#returnAddress", data-toggle="tab"): a(href="#")
				span.fa-stack
					i.fa.fa-stack-2x.fa-circle-o
					//- i.fa.fa-stack-1x.fa-check
				| &nbsp;
				span Return Address
			li.tab(href="#summary", data-toggle="tab"): a(href="#")
				span.fa-stack
					i.fa.fa-stack-2x.fa-circle-o
					//- i.fa.fa-stack-1x.fa-check
				| &nbsp;
				span Summary
			li.tab(href="#confirmation", data-toggle="tab"): a(href="#")
				span.fa-stack
					i.fa.fa-stack-2x.fa-circle-o
					//- i.fa.fa-stack-1x.fa-check
				| &nbsp;
				span Confirmation
	div.tab-content.order-process
		//- Home Tab, select mailer type.
		div.tab-pane.fade.in.active
			.container: .jumbotron: .row
				if user
					.col-md-8
						h1 What would you like to order?
						ul.mailers
							li
								span
								| Prayer Letter
							li Postcards
							li Brochures
							li Fund Appeal
							li Thank You Cards
					.col-md-4
						h2 You are logged in as #{user.name.first}.
							.small Not #{user.name.first}? &nbsp;
								a(href="/sign-out") Sign Out.
						section.spacer
				else
					.col-md-8
						.noUser.clearfix
							p You must be logged in to continue.
						h1 What would you like to order?
						ul.mailers
							li
								span
								| Prayer Letter
							li Postcards
							li Brochures
							li Fund Appeal
							li Thank You Cards
					.col-md-4
						ul.nav.nav-tabs(role="tablist", id="orderSignInTabs")
							li.active: a(href="#signIn", role="tab", data-toggle="tab") Sign In
							li: a |
							li: a(href="#register", role="tab", data-toggle="tab") Register
						div.tab-content.panel
							div.tab-pane.fade.in.active#signIn
								if locals.formError
									div.alert.alert-danger Sorry, that email and password combination was invalid.
								form(method="post", action="/sign-in")#account
									input(type='hidden', name='target', value='order')
									input(type='hidden', name=csrf_token_key, value=csrf_token_value)
									.form-group.clearfix
										.col-md-12
											label(for="email") Email Address
											input(name="email", class="form-control", placeholder="janedoe@cru.org")
									.form-group.clearfix
										.col-md-12
											label(for="password").block Password
												.pull-right: a(href="/forgot-password") Forgot Password?
											input(name="password", class="form-control", placeholder="••••••", type="password")
									.form-group.clearfix#formFooter
										.col-md-12
											button(type="submit").btn.btn-primary.center Start Order Now
											hr
										#socialConnect
											div.facebook
												span Facebook Login
											div.linkedIn
												span LinkedIn Login
							div.tab-pane.fade#register
								form(method="post", action="/register")#account
									input(type='hidden', name='target', value='order')
									input(type='hidden', name='action', value='register')
									.form-group.clearfix
										.col-md-6
											label(for="f_name") First Name
											input(name="f_name", class="left form-control", placeholder="Jane")
										.col-md-6
											label(for="l_name") Last Name
											input(name="l_name", class="right form-control", placeholder="Doe")
									.form-group.clearfix
										.col-md-12
											label(for="email") Email Address
											input(name="email", class="form-control", placeholder="janedoe@cru.org")
									.form-group.clearfix
										.col-md-6
											label(for="password") Password
											input(name="password", class="left form-control", placeholder="••••••", type="password")
										.col-md-6
											label(for="confirm_pass") Confirm Password
											input(name="confirm_pass", class="right form-control", placeholder="••••••", type="password")
									.form-group.clearfix#formFooter
										.col-md-12
											button(type="submit").btn.btn-primary.center Start Order Now
											hr
										#socialConnect
											div.facebook
												span Facebook Login
											div.linkedIn
												span LinkedIn Login
		//- Letter Details type, select mailer options.
		div.tab-pane.fade#letterDetails
			.container: .jumbotron
				.row
					.col-md-4.col-sm-4
						h3 Paper Choise
							span *
						div.select-style
							select
								option Black
								option(selected='selected') Black And White
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						h3 Number of Pages
							span *
						div.select-style
							select
								option Plain Black
								option(selected='selected') Plain White
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						h3 Size of Paper
							span *
						div.select-style
							select
								option 5.5 x 10
								option(selected='selected') 8.5 x 11
					.line-b.visible-lg-block
				.row
					.col-md-4.col-sm-4
						h3 Printer Option
							span *
						div.select-style
							select
								option G&R
								option(selected='selected') B&W Printer
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						h3 Envelope Choice
							span *
						div.select-style
							select
								option Plain Black
								option(selected='selected') Plain White
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						h3 Postage Option
							span *
						div.select-style
							select
								option Firts Class Black
								option(selected='selected') First Class Stamp
					div.line-b.visible-lg-block
				.row
					.col-md-4.col-sm-4
						h3 Inserts
							span *
						p You can add multiple Inserts
						div.select-style
							select
								option 5.5 x 10
								option(selected='selected') 8.5 x 11
						div#multi-inserts
							p Inserts #1:
							p Inserts #2:
							p Inserts #3:
						div.line-c.visible-lg-block
					.col-md-8.col-sm-8
						.row
							.col-md-4.col-sm-4
								h3 Insert Details
								p Insert #1:
								h4 Paper Choice
									span *
								div.select-style.small
									select
										option Paper Choice
										option(selected='selected') Black and White
								div.clearfix
								h4 Paper Size
									span *
								div.select-style.small
									select
										option 5.5 x 10
										option(selected='selected') 8.5 x 11
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select
										option G&B Printer
										option(selected='selected') B%W Printer
							.col-md-4.col-sm-4
								h3 Insert Details
								p Insert #1:
								h4 Paper Choice
									span *
								div.select-style.small
									select
										option Paper Choice
										option(selected='selected') Black and White
								div.clearfix
								h4 Paper Size
									span *
								div.select-style.small
									select
										option 5.5 x 10
										option(selected='selected') 8.5 x 11
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select
										option G&B Printer
										option(selected='selected') B%W Printer
							.col-md-4.col-sm-4
								h3 Insert Details
								p Insert #1:
								h4 Paper Choice
									span *
								div.select-style.small
									select
										option Paper Choice
										option(selected='selected') Black and White
								div.clearfix
								h4 Paper Size
									span *
								div.select-style.small
									select
										option 5.5 x 10
										option(selected='selected') 8.5 x 11
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select
										option G&B Printer
										option(selected='selected') B%W Printer
					div.line-d.visible-lg-block
				.row
					.col-md-5.col-sm-5
						h3 Upload The Letter File
						p You may attach up to 4 files
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.line-e.visible-lg-block
					.col-md-7.col-sm-7
						.row
							.col-md-12
								h3 Special Instructions
								textarea
					div.line-f.visible-lg-block
				.row
					.col-md-12
						a.btn.btn-success.btn-boder-green.pull-left Start Over
						a.btn.btn-success.pull-right Continue
		div.tab-pane.fade#mailingList
			.container: .jumbotron
				.row
					.col-md-12.col-sm-12
						h2 
							| Select A List To Mail To
							span *
					.col-md-12.col-sm-12
						span.fa-stack.fa-lg.checkbox
							i.fa.fa-square.fa-stack-2x
							i.fa.fa-check.fa-stack-1x.fa-inverse
						//- input(name="rememberMe", type="checkbox")
						label(for="rememberMe") Please use the complete mailing list you keep on file
					.col-md-12.col-sm-12
						ul.boxes
							li.box.selected
								.col-md-12.col-sm-12
									img(src='../images/list-name.png')
									h2 List Name Goes Here
									h5
										span#Count 1,835 
										span Contacts in this list
									a.btn.btn-sm.btn-green.center-block(href='#')
										| SELECTED
										span.fa-stack
											span.fa.fa-stack-2x.fa-circle-o
											span.fa.fa-stack-1x.fa-check
							li.box
								.col-md-12.col-sm-12
									img(src='../images/list-name.png')
									h2 List Name Goes Here
									h5
										span#Count 1,835 
										span Contacts in this list
									a.btn.btn-sm.btn-green.center-block(href='#') SELECT THIS LIST
							li.box
								.col-md-12.col-sm-12
									img(src='../images/list-name.png')
									h2 List Name Goes Here
									h5
										span#Count 1,835 
										span Contacts in this list
									a.btn.btn-sm.btn-green.center-block(href='#') SELECT THIS LIST
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						p I will attach my current mailing list
						div.file-wrapper
							span.button Choose a File
							input(type='file')
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a.btn.btn-success.btn-boder-green.pull-left Start Over
						a.btn.btn-success.pull-right Continue
		div.tab-pane.fade#returnAddress
			.container: .jumbotron
				.row
					.col-md-12
						h3 
							|	Confirm Return Address
							span *
				.row
					.col-md-12
						span.checkbox
						//- input(name="rememberMe", type="checkbox")
						label(for="rememberMe") Please use the complete mailing list you keep on file
					.col-md-12
						.col-md-5
							.col-md-12
								input(value='5234 Ferrari Drive').form-control.input-lg 
							.col-md-5
								input(value='Colorado Springs').form-control.input-lg 
							.col-md-3
								input(value='CO').form-control.input-lg 
							.col-md-4
								input(value='80922').form-control.input-lg 
							.col-md-12
								input(value='United States of America').form-control.input-lg
				.row
					.col-md-12.col-sm-12
						span.fa-stack.fa-lg.checkbox2
							i.fa.fa-square.fa-stack-2x
							i.fa.fa-check.fa-stack-1x.fa-inverse
						//- input(name="rememberMe", type="checkbox")
						label(for="rememberMe") Use the Prayer Letter Service Address as my return address
				.row
					.col-md-12
						div.col-md-6
							.col-md-4
								span.phrase "Your Ministry Update from 
							.col-md-6
								input.form-control
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a.btn.btn-success.btn-boder-green.pull-left Start Over
						a.btn.btn-success.pull-right Continue
		div.tab-pane.fade#summary
			.container: .jumbotron
				.row
					.col-md-7
						h3 Confirm Your Order Summary
							span *
						section.table-responsive
							table.table.borderless
								tr
									th FULL NAME
									td Jonathan Bell
								tr
									th EMAIL ADDRESS
									td jon@theoryandpractice.co
								tr
									th DATE SUBMITTED
									td August 4th, 2014
							table.table.borderless
								tr
									th PAPER CHOICE
									td CARDSTOCK OPTION
								tr
									th ENVELOPE CHOICE
									td None
								tr
									th NUMBER OF PAGES
									td One printer side
								tr
									th SIZE OF PAPER
									td 8.5 x 11
								tr
									th POSTAGE OPTION
									td Firts class stamps
								tr
									th SPECIAL INSTRUCTION
									td Instructions Here...
							table.table.borderless
								tr
									th FILE #1
									td File Name Here
								tr
									th FILE #2
									td File Name Here
								tr
									th FILE #3
									td File Name Here
								tr
									th FILE #4
									td File Name Here
							table.table.borderless
								tr
									th MAILING LIST
									td Jonathan's Friends & Family (1,800 Contacts)
							table.table.borderless
								tr
									th RETURN ADDRESS
									td 5234 Ferreri Drive Colorado Springs, CO 80922 United States Of America
				.row
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a.btn.btn-success.btn-boder-green.pull-left Start Over
						a.btn.btn-success.pull-right Continue
		div.tab-pane.fade#confirmation
			.container: .jumbotron
				.col-md-12
					div.box-finish
						div
							span.fa-stack
								i.fa.fa-stack-2x.fa-circle-o
								i.fa.fa-stack-1x.fa-check
							div.clearfix
						div
							h2 Your Submission Was Sucessful!
						div
							a.btn.btn-success START ANOTHER ORDER
							div.clearfix
							a.btn.btn-success.btn-boder-green BACK TO HOME
				.row
					.col-md-12
						.line-0.visible-lg-block
block js
	script(type='text/javascript')
		$(function(){$('#tabs li').click(function (e){e.preventDefault();var href=$(this).attr('href');$(this).tab('show');$('#data .data').each(function(){$el=$(this);var action=$el.attr('data-action');$el.attr('data-status','hide').removeClass().addClass('data fade hide');if(action==href){$el.attr('data-status','show').removeClass().addClass('data show');}});});});var SITE=SITE||{};SITE.fileInputs=function(){var $this=$(this),$val=$this.val(),valArray=$val.split('\\'),newVal=valArray[valArray.length-1],$button=$this.siblings('.button'),$fakeFile=$this.siblings('.file-holder');if(newVal!==''){$button.text('File Chosen');if($fakeFile.length===0){$button.after('<span class="file-holder">'+newVal+'</span>');}else{$fakeFile.text(newVal);}}};$(document).ready(function(){$('.file-wrapper input[type=file]').bind('change focus click',SITE.fileInputs);});