extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		//- Letter Details type, select mailer options.
		div.tab-pane.fade.in.active#letterDetails
			.container: .jumbotron: form(action="/mailing-list", method="post")
				.row
					.col-md-4.col-sm-4
						if mailerType != 'postcards'
							h3 Paper Choice
								span *
							div.select-style
								select(name="paperChoice", value=letterDetails ? letterDetails.paperChoice : null)
									option(selected='selected') Opaque White
									option Black And White
						else
							h3 Cardstock
								span *
							div.select-style
								select(name="cardstockChoice", value=letterDetails ? letterDetails.paperChoice : null)
									option Opaque white--this should be the default
									option Opaque blue
									option Opaque cream
									option Opaque green
									option Opaque gray
									option Opaque ivory
									option Opaque yellow
									option Opaque orchid
									option Opaque pink
									option Opaque tan
									option Astrobright re-entry red
									option Astrobright gamma green
									option Astrobright celestial blue
									option Astrobright solar yellow
									option 2-sided glossy white
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						if mailerType === 'postcards'
							.overlay#insertDetailsOverlay(style='width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255,255,255,0.85); z-index: 999;')
						h3 Number of Pages
							span *
						div.select-style
							select(name="noOfPages", value=letterDetails ? letterDetails.noOfPages : null)
								option(selected='selected') One Printed Side
								option Need Options
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						h3 Size of Paper
							span *
						div.select-style
							select(name="paperSize", value=letterDetails ? letterDetails.paperSize : null)
								option 5.5 x 10
								option(selected='selected') 8 1/2 x 11
					.line-b.visible-lg-block
				.row
					.col-md-4.col-sm-4
						h3 Printer Option
							span *
						div.select-style
							select(name="printerOption", value=letterDetails ? letterDetails.printerOption : null)
								option(selected='selected') Color Printer
								option B&amp;W Printer
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						if mailerType === 'postcards'
							.overlay#insertDetailsOverlay(style='width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255,255,255,0.85); z-index: 999;')
						h3 Envelope Choice
							span *
						div.select-style
							select(name="envelopeChoice", value=letterDetails ? letterDetails.envelopeChoice : null)
								option Plain Black
								option(selected='selected') Standard White
						div.line-a.visible-lg-block
					.col-md-4.col-sm-4
						if mailerType === 'postcards'
							.overlay#insertDetailsOverlay(style='width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255,255,255,0.85); z-index: 999;')
						h3 Postage Option
							span *
						div.select-style
							select(name="postageOption", value=letterDetails ? letterDetails.postageOption : null)
								option Firts Class Black
								option(selected='selected') First Class Stamp
					div.line-b.visible-lg-block
				.row(class=mailerType === 'postcards' ? 'hide' : null)
					.col-md-4.col-sm-4
						if mailerType === 'postcards'
							.overlay#insertDetailsOverlay(style='width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255,255,255,0.85); z-index: 999;')
						h3 Inserts
							span *
						p You can add multiple Inserts
						br
						div.clearfix.insert
							h4 Insert #1
							div.select-style#insertOne
								select(name="insertOne")
									option(selected='selected') None
									option 2 per page response slip
									option 3 per page response slip
									option 4 per page response slip
									option White response envelopes-not stamped
									option White response envelopes-stamped
									option Cru giving envelopes-not stamped
									option Cru giving envelopes-stamped
									option Please insert the items I mailed to you
									option See special instructions
						div.clearfix.insert.hide#insertTwo
							br
							h4 Insert #2
							div.select-style
								select(name="insertTwo")
									option(selected='selected') None
									option 2 per page response slip
									option 3 per page response slip
									option 4 per page response slip
									option White response envelopes-not stamped
									option White response envelopes-stamped
									option Cru giving envelopes-not stamped
									option Cru giving envelopes-stamped
									option Please insert the items I mailed to you
									option See special instructions
						div.clearfix.insert.hide#insertThree
							br
							h4 Insert #3
							div.select-style
								select(name="insertThree")
									option(selected='selected') None
									option 2 per page response slip
									option 3 per page response slip
									option 4 per page response slip
									option White response envelopes-not stamped
									option White response envelopes-stamped
									option Cru giving envelopes-not stamped
									option Cru giving envelopes-stamped
									option Please insert the items I mailed to you
									option See special instructions
						br
						div.line-c.visible-lg-block
					.col-md-8.col-sm-8(id='fade')
						.row
							.col-md-4.col-sm-4
								h3 Insert Details
								p Insert #1:
								h4 Paper Choice
									span *
								div.select-style.small
									select
										option Paper Choice
										option(selected='selected') Black and White
								div.clearfix
								h4 Paper Size
									span *
								div.select-style.small
									select
										option 5.5 x 10
										option(selected='selected') 8.5 x 11
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select
										option G&amp;B Printer
										option(selected='selected') B%W Printer
							.col-md-4.col-sm-4
								h3 Insert Details
								p Insert #2:
								h4 Paper Choice
									span *
								div.select-style.small
									select
										option Paper Choice
										option(selected='selected') Black and White
								div.clearfix
								h4 Paper Size
									span *
								div.select-style.small
									select
										option 5.5 x 10
										option(selected='selected') 8.5 x 11
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select
										option G&B Printer
										option(selected='selected') B%W Printer
					div.line-d.visible-lg-block
				.row
					.col-md-5.col-sm-5
						h3 Upload The Letter File
						p You may attach up to 4 files
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						div.line-e.visible-lg-block
					.col-md-7.col-sm-7
						.row
							.col-md-12
								h3 Special Instructions
								input.textarea(type='textarea', name='specialInstructions', value=letterDetails ? letterDetails.specialInstructions : null)
					div.line-f.visible-lg-block
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						button(type="submit").btn.btn-success.pull-right Continue
block js
	+fileUploads
	script.
		$('select[name="insertOne"]').change(function() {
			$('.hide#insertTwo').removeClass('hide')
			$('#insertDetailsOverlay').fadeOut();
		});
		$('select[name="insertTwo"]').change(function() {
			$('.hide#insertThree').removeClass('hide')
		});