extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		//- Letter Details type, select mailer options.
		div.tab-pane.fade.in.active#letterDetails
			.container: .jumbotron: form(action="/mailing-list?mailer=" + mailerType, method="post")
				.row
					//- Paper Type & Cardstock Choice
					.col-md-4.col-sm-4
						if mailerType != 'postcards'
							h3 Paper Choice
								span *
							div.select-style
								select(name="paperChoice", value=letterDetails ? letterDetails.paperChoice : null)
									if mailerType === 'brochures'
										option(selected='selected', value='Glossy White') Glossy White
										option(value='Opaque White') Opaque White
										option(value='Black and White') Black And White
									else if mailerType === 'christmasLetter'
										option(selected='selected') Opaque White
										option(value='Holiday Letterhead I mailed to you') Holiday letterhead I mailed to you
										option(value='Holiday Letterhead you ordered for me') Holiday letterhead you ordered for me
										option(value='Black and White') Black and White
									else
										option(selected='selected', value='Opaque White') Opaque White
										option(value='Black and White') Black And White
						else
							h3 Cardstock
								span *
							div.select-style
								select(name="cardstockChoice", value=letterDetails ? letterDetails.paperChoice : null)
									option Opaque white
									option Opaque blue
									option Opaque cream
									option Opaque green
									option Opaque gray
									option Opaque ivory
									option Opaque yellow
									option Opaque orchid
									option Opaque pink
									option Opaque tan
									option Astrobright re-entry red
									option Astrobright gamma green
									option Astrobright celestial blue
									option Astrobright solar yellow
									option 2-sided glossy white
						div.line-a.visible-lg-block
					//- No. of Pages
					.col-md-4.col-sm-4
						if mailerType === 'postcards' || mailerType === 'thankYou'
							.insertOverlayDetails
							h3 Number of Pages
								span *
							div.select-style
								select(name="numberOfPages", value=letterDetails ? letterDetails.numberOfPages : null)
									option(selected='selected', value='One Printed Side') One Printed Side
									option(value='Need Options') Need Options
						else if mailerType === 'brochures'
							h3 Number of Brochures Needed
								span *
							input(type='text', name='numberOfPages', class='form-control')
						else
							h3 Number of Pages
								span *
							div.select-style
								select(name="numberOfPages", value=letterDetails ? letterDetails.numberOfPages : null)
									option(selected='selected', value='One Printed Side') One Printed Side
									option Need Options
						div.line-a.visible-lg-block
					//- Size of Paper
					.col-md-4.col-sm-4
						if mailerType === 'postcards'
							h3 Size of Paper
								span *
							div.select-style
								select(name="paperSize", value=letterDetails ? letterDetails.paperSize : null)
									option(selected='selected') 4 Per Sheet (4.25 x 5.5)
									option 2 Per Sheet (4 x 6) - Requires Price Upgrade
									option 2 Per Sheet (5.5 x 8.5) - Requires Postage Upgrade
						else
							if mailerType === 'brochures'
								h3 Please Ship The Order To: 
								-var Class = 'form-control';
								div.form-group: input(name='streetAddress', value=letterDetails ? letterDetails.streetAddress : null, placeholder='5234 Ferrari Drive', class=Class)
								div.form-group.row
									.col-md-5(style='padding-left: 0;'): input(name='city', value=returnAddress ? returnAddress.city : null, placeholder='Colorado Springs', class=Class)
									.col-md-2(style='padding: 0;'): input(name='state', value=returnAddress ? returnAddress.state : null, placeholder='CO', class=Class)
									.col-md-5(style='padding-right: 0;'): input(name='zipCode', value=returnAddress ? returnAddress.zipCode : null, placeholder='80918', class=Class)
								div.form-group: input(name='country', value=returnAddress ? returnAddress.country : 'United States of America', class=Class)
							else
								if mailerType === 'thankYou'
									.insertOverlayDetails
								h3 Size of Paper
									span *
								div.select-style
									select(name="paperSize", value=letterDetails ? letterDetails.paperSize : null)
										option 5.5 x 10
										option(selected='selected') 8 1/2 x 11
					.line-b.visible-lg-block
				.row
					//- Printer
					.col-md-4.col-sm-4
						if mailerType === 'thankYou'
							.insertOverlayDetails
						h3 Printer Option
							span *
						div.select-style
							select(name="printerOption", value=letterDetails ? letterDetails.printerOption : null)
								option(selected='selected') Color Printer
								option B&amp;W Printer
						div.line-a.visible-lg-block
					//- Type of Envelope
					.col-md-4.col-sm-4
						if mailerType === 'postcards' || mailerType === 'brochures' || mailerType === 'thankYou'
							.insertOverlayDetails
						h3 Envelope Choice
							span *
						div.select-style
							select(name="envelopeChoice", value=letterDetails ? letterDetails.envelopeChoice : null)
								option Plain Black
								option(selected='selected') Standard White
								if mailerType === 'christmasLetter'
									option Holiday envelopes I mailed to you
									option Holiday envelopes you ordered for me
						div.line-a.visible-lg-block
					//- Type of Postage
					.col-md-4.col-sm-4
						if mailerType === 'postcards' || mailerType === 'brochures'
							.insertOverlayDetails
						h3 Postage Option
							span *
						div.select-style
							select(name="postageOption", value=letterDetails ? letterDetails.postageOption : null)
								option First Class Black
								option(selected='selected') First Class Stamp
								if mailerType === 'christmasLetter'
									option Hand stamp religious Christmas stamps
									option Hand stamp non-religious Christmas stamps
					div.line-b.visible-lg-block
				.row(class=(mailerType === 'postcards' ? 'hide' : null || mailerType === 'brochures' ? 'hide' : null || mailerType === 'thankYou' ? 'hide' : null))
					.col-md-4.col-sm-4
						if mailerType === 'postcards'
							.insertOverlayDetails
						h3 Inserts
							span *
						p You can add multiple Inserts
						br
						div.clearfix.insert
							h4 Insert #1
							div.select-style#insertOne
								select(name="insertOne")
									option(selected='selected', value='none') None
									option(value='2 per page response slip') 2 per page response slip
									option(value='3 per page response slip') 3 per page response slip
									option(value='4 per page response slip') 4 per page response slip
									option(value='White response envelopes-not stamped') White response envelopes-not stamped
									option(value='White response envelopes-stamped') White response envelopes-stamped
									option(value='Cru giving envelopes-not stamped') Cru giving envelopes-not stamped
									option(value='Cru giving envelopes-stamped') Cru giving envelopes-stamped
									option(value='Please insert the items I mailed to you') Please insert the items I mailed to you
									option(value='See special instructions') See special instructions
						div.clearfix.insert.hide#insertTwo
							br
							h4 Insert #2
							div.select-style
								select(name="insertTwo")
									option(selected='selected', value='none') None
									option(value='2 per page response slip') 2 per page response slip
									option(value='3 per page response slip') 3 per page response slip
									option(value='4 per page response slip') 4 per page response slip
									option(value='White response envelopes-not stamped') White response envelopes-not stamped
									option(value='White response envelopes-stamped') White response envelopes-stamped
									option(value='Cru giving envelopes-not stamped') Cru giving envelopes-not stamped
									option(value='Cru giving envelopes-stamped') Cru giving envelopes-stamped
									option(value='Please insert the items I mailed to you') Please insert the items I mailed to you
									option(value='See special instructions') See special instructions
						div.clearfix.insert.hide#insertThree
							br
							h4 Insert #3
							div.select-style
								select(name="insertThree")
									option(selected='selected', value='none') None
									option(value='2 Per Page Response Slip') 2 per page response slip
									option(value='3 Per Page Response Slip') 3 per page response slip
									option(value='4 Per Page Response Slip') 4 per page response slip
									option(value='White Response Envelopes - Not Stamped') White response envelopes-not stamped
									option(value='White Response Envelopes - Stamped') White response envelopes - Stamped
									option(value='Cru Giving Envelopes - Not Stamped') Cru giving envelopes-not stamped
									option(value='Cru Giving Envelopes - Not Stamped') Cru giving envelopes-stamped
									option(value='Please insert the items I mailed to you') Please insert the items I mailed to you
									option(value='See Special Instructions') See special instructions
						br
						div.line-c.visible-lg-block
					.col-md-8.col-sm-8(id='fade')
						.row
							.col-md-4.col-sm-4
								.insertOverlayDetails#one
								h3 Insert Details
								p Insert #1:
								h4 Paper Choice
									span *
								div.select-style.small
									select(name='paperChoiceOne')
										option(value='Paper Choice') Paper Choice
										option(selected='selected', value='Black and White') Black and White
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select(name='printerChoiceOne')
										option(value='G&B Printer') G&amp;B Printer
										option(selected='selected', value='B&W Printer') B&amp;W Printer
							.col-md-4.col-sm-4
								.insertOverlayDetails#two
								h3 Insert Details
								p Insert #2:
								h4 Paper Choice
									span *
								div.select-style.small
									select(name='paperChoiceTwo')
										option(value='Paper Choice') Paper Choice
										option(selected='selected', value='Black and White') Black and White
								div.clearfix
								h4 Printer Option
									span *
								div.select-style.small
									select(name='printerChoiceTwo')
										option(value='G&B Printer') G&amp;B Printer
										option(selected='selected', value='B&W Printer') B&amp;W Printer
					div.line-d.visible-lg-block
				.row
					.col-md-5.col-sm-5
						if mailerType === 'postcards'
							h3 Upload The Postcard File
							br
							div.file-wrapper#status
								span.button Choose a File
								input(type='file', id='file', data-url='url', data-status='status')
							input(type='hidden', name='file', id='url')
						else if mailerType === 'brochures'
							h3 Upload The Brochure File
							br
							div.file-wrapper#status
								span.button Choose a File
								input(type='file', id='file', data-url='url', data-status='status')
							input(type='hidden', name='file', id='url')
							br
							section.spacer
							h3 Additional Options
							br
							input(type='radio', name='mergeGreeting', value='Please merge the personal greeting (other) field for each letter.')
							label(for='mergeGreeting') Please merge the personal greeting (other) field for each letter.
							br
							input(type='radio', name='mergeGreeting', value='These letters do not need to be personalized.')
							label(for='doNotPersonalize') These letters do not need to be personalized.
						else if mailerType === 'thankYou'
							h3 Upload The File...
							br
							div.file-wrapper#status
								span.button Choose a File
								input(type='file', id='file', data-url='url', data-status='status')
							input(type='hidden', name='file', id='url')
							br
							br
							h3 Additional Information
							span.fa-stack.fa-lg.checkbox(data-input='sendTo', data-type='checkbox')
								i.fa.fa-square.fa-stack-2x
								i.fa.fa-check.fa-stack-1x.fa-inverse
							input(type='checkbox', name='sendTo', value='Please ship the cards to me.', class='hide')
							label(for='sendTo') Please ship the cards to me. 
						else
							h3 Upload The Letter File
							p You may attach up to 4 files
							div.file-wrapper#statusOne
								span.button Choose a File
								input(type='file', id='fileOne', data-url='urlOne', data-status='statusOne')
							input(type='hidden', name='fileOne', id='urlOne')
							div.file-wrapper#statustwo
								span.button Choose a File
								input(type='file', id='filetwo', data-url='urltwo', data-status='statustwo')
							input(type='hidden', name='filetwo', id='urltwo')
							div.file-wrapper#statusThree
								span.button Choose a File
								input(type='file', id='fileThree', data-url='urlThree', data-status='statusThree')
							input(type='hidden', name='fileThree', id='urlThree')
							div.file-wrapper#statusFour
								span.button Choose a File
								input(type='file', id='fileFour', data-url='urlFour', data-status='statusFour')
							input(type='hidden', name='fileFour', id='urlFour')
						div.line-e.visible-lg-block
					.col-md-7.col-sm-7
						.row
							.col-md-12
								h3 Special Instructions
								textarea(name='specialInstructions')=letterDetails ? letterDetails.specialInstructions : null
					div.line-f.visible-lg-block
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						button(type="submit").btn.btn-success.pull-right Continue
block js
	+fileUploads
		
