extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		div.tab-pane.fade.in.active#mailingList
			.container: .jumbotron: form(action="/return-address?mailer=" + mailerType, method="post")
				.row
					.col-md-12.col-sm-12
						h2 
							| Select A List To Mail To
							span *
					.col-md-12.col-sm-12
						.row
							.col-md-6
								span.fa-stack.fa-lg.checkbox(data-input='list', data-type='radio', data-value='Use every mailing list I have on file')
									i.fa.fa-square.fa-stack-2x
									i.fa.fa-check.fa-stack-1x.fa-inverse
								input(name='listChoice', type='radio', value='Please use the mailing list you keep for me in Access.', class='hide')
								label(for='listChoice') Please use the mailing list you keep for me in Access.
							.col-md-6
								span.fa-stack.fa-lg.checkbox(data-input='list', data-type='radio', data-value='Please use my online mailing list')
									i.fa.fa-square.fa-stack-2x
									i.fa.fa-check.fa-stack-1x.fa-inverse
								input(name='listChoice', type='radio', value='Please use my online mailing list', class='hide')
								label(for='listChoice') Please use my online mailing list
					.col-md-12.col-sm-12
						ul.boxes
							if lists.length
								for list in lists
									li.box
										.col-md-12
											img(src='../images/list-name.png')
											h2= list.prettyName
											a.btn.btn-sm.btn-green(name='listOption', data-value=list.id) Select This List
							else
								h4 You have not uploaded any mailing lists yet. Attach one below or select one of the above options.
								//- input(type='file', name='mailingList')
						input(type='hidden', name='list', class='form-control', value='')
						//- select(name='list', class='form-control', class='')
						//- 	option(selected disabled) Placeholder
						//- 	for list in lists
						//- 		option(value=list._id)= list.prettyName
						//- input(name='list', type='text')
				.row
					.col-md-12
						p I will attach my current mailing list
						div.file-wrapper#mailingListStatus
							span.button Choose a File
							input(type='file', id='mailingListFile', data-url='url', data-status='mailingListStatus', class='letterFile')
							input(type='hidden', name='mailingListFile', id='url')
						//- div.file-wrapper#statusList
						//- 	span.button Upload List
						//- 	input(type='file', id='mailingList', data-url='mailingList', data-status='statusList', class='letterFile')
						//- 	input(type='hidden', name='mailingListFile', id='mailingList')
						br
						if mailerType === 'christmasLetter' || mailerType === 'thankYou'
							br
							span.fa-stack.fa-lg.checkbox(data-input='oneTime', data-type='checkbox')
								i.fa.fa-square.fa-stack-2x
								i.fa.fa-check.fa-stack-1x.fa-inverse
							input(type='checkbox', name='oneTime', value='This is a one time mailing list for this order only.', class='hide')
							label(for='oneTime') This is a one time mailing list for this order only.
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						button(type="submit").btn.btn-success.pull-right Continue
		.modal.fade(tab-index='-1', role='dialog', aria-labelledby='newList', aria-hidden='true', id='newList')
			.modal-dialog.modal-sm: .modal-content: form(method="post", action='/mailing-list?mailer=' + mailerType, id='listForm')
				.modal-body
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true") &#215;
						span.sr-only Close
					h3 Create New Mailing List
					if errors
						.form-group
							.alert.alert-danger
								| Please complete all fields before continuing.
					.form-group(class=(errors != null ? 'has-error' : null)).clearfix
						input(type='hidden', name='userID', value=user.id)
						input(type='hidden', name='csvJSON')
						input(type='hidden', name='name', value=user.name.full)
						input(type='hidden', name='action', value='newList')
					.form-group(class=(errors != null ? 'has-error' : null)).clearfix
						label(for='listName') Name Your Mailing List
						input(name='listName', type='text', class='form-control')
					.form-group.clearfix
						input(name='mailingList', type='file', class='form-control', id='csv')
				.modal-footer
					small Please make sure your mailing list is a .CSV file. Most applications allow you to save your list as a CSV.
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel
					button.btn.btn-primary(type="submit", id="listNew") Create List
block js
	+fileUploads
	script.
		var data = [];
		$('input[type="file"]').change(function() {
			$('input[name="list"]').val('');
		});
		$('input[type="radio"]').change(function() {
			$('.box').removeClass('selected');
			$('.box').find('a[name="listOption"]').text('Select This List');
			$('input[name="list"]').val('');
			data.splice(0, data.length);
			console.log(data);
		});
		$('a[name="listOption"]').each(function() {
			$(this).click(function() {
				$this = $(this);

				var selected = $this.attr('data-value');

				console.log(data.indexOf(selected));

				if (data.indexOf(selected) > -1)
					data.splice(data.indexOf(selected), 1)
				else
					data.push(selected);

				$('input[name="list"]').val(data);

				console.log(data);

				$('.fa-stack.checkbox[data-input="list"]').removeClass('checked');
				$('input[type="radio"]').prop('checked', false);

				if ($this.parent().parent().hasClass('selected'))
					$this.text('Select This List').parent().parent().removeClass('selected');
				else
					$this.text('Selected').parent().parent().addClass('selected');

			});
		});