extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		div.tab-pane.fade.in.active#returnAddress
			.container: form(action="/summary?mailer=" + mailerType, method="post", class='clearfix')
				.row
					.col-md-12
						h3 
							|	Confirm Return Address
							span *
				.row
					.col-md-5
						br
						.form-group
							//- span.fa-stack.fa-lg.checkbox2(data-input='returnAddress', data-value='Custom Address', data-type='radio')
							//- 	i.fa.fa-square.fa-stack-2x
							//- 	i.fa.fa-check.fa-stack-1x.fa-inverse
							input(type='radio', name='customReturnAddress', value='true', class='')
							label(for="returnAddress") Use the Return Address Below
						-var Class = 'form-control input-lg';
						div.form-group: input(name='streetAddress', value=user.returnAddress ? user.returnAddress.street1 : null, placeholder='5234 Ferrari Drive', class=Class)
						div.form-group.row
							.col-md-5: input(name='city', value=user.returnAddress.suburb ? user.returnAddress.suburb : null, placeholder='Colorado Springs', class=Class)
							.col-md-2: input(name='state', value=user.returnAddress ? user.returnAddress.state : null, placeholder='CO', class=Class)
							.col-md-5: input(name='zipCode', value=user.returnAddress ? user.returnAddress.postcode : null, placeholder='80918', class=Class)
						div.form-group: input(name='country', value=user.returnAddress ? user.returnAddress.country : 'United States of America', class=Class)
						br
						.form-group
							//- span.fa-stack.fa-lg.checkbox2.checked(data-input='returnAddress', data-value='true', data-type='radio')
							//- 	i.fa.fa-square.fa-stack-2x
							//- 	i.fa.fa-check.fa-stack-1x.fa-inverse
							//- input(name="rememberMe", type="checkbox")
							input(type='radio', name='customReturnAddress', value='false', class='')
							label(for="returnAddress") Use the Prayer Letter Service Address as my return address
				.row
					.form-group: .col-md-2
						.pull-left
							div.phrase "Your Ministry Update from"
						.pull-right
							input(type='text', name='yourMinistryUpdateFrom', value=letterDetails.yourMinistryUpdateFrom).form-control.txtPhrase
					.col-md-12
						.line-0.visible-lg-block
				br
				br
				br
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						button(type="submit").btn.btn-success.pull-right Continue
block js
	+fileUploads