extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		div.tab-pane.fade.in.active#summary
			.container: .jumbotron
				.row
					.col-md-10
						h3 Confirm Your Order Summary
							span *
						table.table.borderless
							tr
								th FULL NAME
								td= user.name.full
							tr
								th EMAIL ADDRESS
								td= user.email
							tr
								-var d = new Date();
								-var n = d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear();
								th DATE SUBMITTED
								td= n
							tr: td(colspan="2"): hr
							tr
								if sessionType == 'postcards'
									th CARDSTOCK CHOICE
									td= letterDetails.cardstockChoice ? letterDetails.cardstockChoice : 'Not Specified'
								else
									th Paper Choice
									td= letterDetails.paperChoice ? letterDetails.paperChoice : 'Not Specified'
							//- tr
								if sessionType == 'brochures'
									th Number of Brochures
									td= letterDetails.numberOfPages ? letterDetails.numberOfPages : 'Not Specified'
								else
									th Number of Pages
									td= letterDetails.numberOfPages
							if letterDetails.paperSize
								tr 
									th Paper Size
									td= letterDetails.paperSize
							if letterDetails.printerOption
								tr
									th Printer Option
									td= letterDetails.printerOption
							//- if letterDetails.envelopeChoice
								tr
									th Envelope Choice
									td= letterDetails.envelopeChoice
							if letterDetails.postageOption
								tr
									th Postage Option
									td= letterDetails.postageOption
							if letterDetails.oneTime
								tr: td(colspan="2"): hr
								tr
									th One Time Mailing List
									tr True
							if letterDetails.sendTo
								tr 
									th Ship To
									td= letterDetails.sendTo
							if sessionType == 'brochures' || sessionType == 'thankYou'
								tr
									th Shipping Address
									td #{letterDetails.streetAddress}, #{letterDetails.city}, #{letterDetails.state} #{letterDetails.zipCode}, #{letterDetails.country}
								tr
									th Merge Greetings
									td= letterDetails.mergeGreeting ? letterDetails.mergeGreeting : 'Not Specified'
							if letterDetails.insertOne != 'none'
								tr
									th Insert One Paper Choice
									td= letterDetails.paperChoiceOne
								tr
									th Insert One Printer Option
									td= letterDetails.printerChoiceOne
							if letterDetails.insertTwo != 'none'
								tr
									th Insert Two Paper Choice
									td= letterDetails.paperChoiceTwo
								tr
									th Insert Two Printer Option
									td= letterDetails.printerChoiceTwo
							if letterDetails.insertThree != 'none'
								tr
									th Third Insert
									td= Yes
							if letterDetails.fileOne
								tr: td(colspan="2"): hr
								tr
									th File One
									td= letterDetails.fileOne
							if letterDetails.fileTwo
								tr
									th File Two
									td= letterDetails.fileTwo
							if letterDetails.fileThree
								tr
									th File Three
									td= letterDetails.fileThree
							if letterDetails.fileFour
								tr
									th File Four
									td= letterDetails.fileFour
							if letterDetails.file
								tr
									th File
									td= letterDetails.file
							if letterDetails.multipleLists
								tr: td(colspan="2"): hr
								tr
									th Multiple Lists
									td= letterDetails.multipleLists
							if letterDetails.noLogo
								tr
									th Do not include logo
									td= letterDetails.noLogo
							if letterDetails.addressService
								tr
									th Include "Address Service Requested"
									td= letterDetails.addressService
							tr: td(colspan="2"): hr
							tr
								th Special Instructions
								td= letterDetails.specialInstructions ? letterDetails.specialInstructions : 'None specified.'
							if returnAddress.yourMinistryUpdateFrom
								tr
									th Return Address
									td Your Ministry Update From #{returnAddress.yourMinistryUpdateFrom}
							else if returnAddress.customReturnAddress
								tr
									th Custom Return Address
									td #{returnAddress.street1}, #{returnAddress.city}, #{returnAddress.state} #{returnAddress.zipCode}, #{returnAddress.country}
							if list
								tr
									th Mailing List
									td= list.prettyName
				.row
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						form(name='summary', method='post', action='/summary?action='+sessionType)
							div.hide
								.form-group
									label Action
									input(type='text', name='action', value=sessionType)
								.form-group
									label Name
									input(type='text', name='name.first', value=user.name.first)
									input(type='text', name='name.last', value=user.name.last)
								.form-group
									if sessionType == 'postcards'
										label Postcard Choice
										input(type='text', name='cardstock', value=letterDetails.cardstockChoice)
									else 
										label Paper Choice
										input(type='text', name='paperChoice', value=letterDetails.paperChoice)
								.form-group
									if sessionType == 'brochures'
										label Number of Brochures Needed
										input(type='text', name='numberOfBrochuresNeeded', value=letterDetails.numberOfPages)
									else
										label Number Of Pages
										input(type='text', name='numberOfPages', value=letterDetails.numberOfPages)
								.form-group
									label Paper Size
									input(type='text', name='sizeOfPaper', value=letterDetails.paperSize)
								.form-group
									label Printer Option
									input(type='text', name='printerOption', value=letterDetails.printerOption)
								.form-group
									label Envelope Choice
									input(type='text', name='envelopeChoice', value=letterDetails.envelopeChoice)
								.form-group
									label Postage Option
									input(type='text', name='postageOption', value=letterDetails.postageOption)
								if mailingList
									.form-group
										label One Time
										input(type='text', name='oneTime', value=mailingList.oneTime)
								.form-group
									label Send To
									input(type='text', name='shipTo', value=letterDetails.sendTo)
								if sessionType == 'brochures' || sessionType == 'thankYou'
									.form-group
										label Shipping Address
										input(type='text', name='shipTheOrderTo.street1', value=letterDetails.streetAddress)
										input(type='text', name='shipTheOrderTo.suburb', value=letterDetails.city)
										input(type='text', name='shipTheOrderTo.postcode', value=letterDetails.zipCode)
										input(type='text', name='shipTheOrderTo.country', value=letterDetails.country)
									.form-group
										label Merge Greetings
										input(type='text', name='personalization', value=letterDetails.mergeGreeting)
								.form-group
									label Insert One
									if letterDetails.insertOne != 'none'
										input(type='checkbox', value='true', name='insertOne.isConfigured', checked)
										input(type='text', name='insertOne.paperChoice', value=letterDetails.paperChoiceOne)
										input(type='text', name='insertOne.printerOption', value=letterDetails.printerChoiceOne)
								.form-group
									label Insert Two
									if letterDetails.insertTwo != 'none'
										input(type='checkbox', value='true', name='insertTwo.isConfigured', checked)
										input(type='text', name='insertTwo.paperChoice', value=letterDetails.paperChoiceTwo)
										input(type='text', name='insertTwo.printerOption', value=letterDetails.printerChoiceTwo)
								.form-group
									label Insert Three
									if letterDetails.insertThree != 'none'
										input(type='checkbox', value='true', name='insertThree.isConfigured', checked)
								.form-group
									label File
									input(type='text', name='file', value=letterDetails.file)
								.form-group
									label File One
									input(type='text', name='fileOne', value=letterDetails.fileOne)
								.form-group
									label File Two
									input(type='text', name='fileTwo', value=letterDetails.fileTwo)
								.form-group
									label File Three
									input(type='text', name='fileThree', value=letterDetails.fileThree)
								.form-group
									label File Four
									input(type='text', name='fileFour', value=letterDetails.fileFour)
								.form-group
									label Special Instructions
									input(type='text', name='specialInstructions', value=letterDetails.specialInstructions)
								if returnAddress
									.form-group
										label Return Address
										input(type='checkbox', name='customReturnAddress', value=returnAddress.customReturnAddress, checked)
										label Your Ministry Update From
										input(type='text', name='yourMinistryUpdateFrom', value=returnAddress.yourMinistryUpdateFrom)
										label Multiple Mailing Lists
										if letterDetails.multipleLists
											input(type='checkbox', name='multipleLists', value=letterDetails.multipleLists, checked)
										if letterDetails.noLogo
											input(type='checkbox', name='noLogo', value=letterDetails.noLogo, checked)
										if letterDetails.addressService
											input(type='checkbox', name='addressService', value=letterDetails.addressService)
									.form-group
										label Return Address Custom
										input(type='text', name='returnAddress.street1', value=returnAddress.streetAddress)
										input(type='text', name='returnAddress.suburb', value=returnAddress.city)
										input(type='text', name='returnAddress.postcode', value=returnAddress.zipCode)
										input(type='text', name='returnAddress.country', value=returnAddress.country)
								if list
									.form-group
										label Mailing List
										input(type='text', name='mailingList', value=list._id)
							button(type="submit").btn.btn-success.pull-right Confirm
block js
	+fileUploads