extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		div.tab-pane.fade.in.active#summary
			.container: .jumbotron
				.row
					.col-md-7
						h3 Confirm Your Order Summary
							span *
						section.table-responsive
							table.table.borderless
								tr
									th FULL NAME
									td= user.name.full
								tr
									th EMAIL ADDRESS
									td= user.email
								tr
									-var d = new Date();
									-var n = d.getMonth() + '/' + d.getDate() + '/' + d.getFullYear();
									th DATE SUBMITTED
									td= n
							table.table.borderless
								tr
									th PAPER CHOICE
									td= letterDetails.paperChoice
								tr
									th ENVELOPE CHOICE
									td= letterDetails.envelopeChoice != null ? letterDetails.envelopeChoice : 'None'
								tr
									th NUMBER OF PAGES
									td= letterDetails.noOfPages
								tr
									th SIZE OF PAPER
									td= letterDetails.paperSize
								tr
									th POSTAGE OPTION
									td= letterDetails.postageOption
								tr
									th SPECIAL INSTRUCTION
									td= letterDetails.specialInstructions
							table.table.borderless
								tr
									th FILE #1
									td File Name Here
								tr
									th FILE #2
									td File Name Here
								tr
									th FILE #3
									td File Name Here
								tr
									th FILE #4
									td File Name Here
							table.table.borderless
								tr
									th MAILING LIST
									td Jonathan's Friends & Family (1,800 Contacts)
							table.table.borderless
								tr
									th RETURN ADDRESS
									td #{returnAddress.streetAddress} #{returnAddress.city}, #{returnAddress.state} #{returnAddress.zip} #{returnAddress.country}
				.row
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						a.btn.btn-success.pull-right Continue
block js
	+fileUploads